.course-page {
  text-align: center;
}

.course-logo {
  height: 40vmin;
  pointer-events: none;
}

.course-page-header {
  background-color: #1e1e1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 50px;
}
  
.course-paragraph {
  font-size: calc(10px + 1vmin);
}
  
.course-link {
  color: #61dafb;
}