.footer {
    background-color: #1e1e1e;
    color: white;
    font-family: Aleo;
}

.footer p {
    padding: 0;
    margin: 0;
}

.footer h4 {
    padding: 0;
    margin: 0;
}

.divider {
    width: 2.5rem;
    height: 2px;
    background: white;
    margin-bottom: 10px;
    margin-top: 5px;
}

.footer a {
    color: rgb(219, 219, 219);
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.footer-logo {
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.footer-col {
    padding: 25px 0;
}

.footer-row {
    padding: 0 25px;
}
