.navbar-logo {
  height: 50px;
}

#nav {
  padding: 5px 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  margin: 0;
  background-color: white;
  font-family: Aleo;
}

#nav a {
  text-decoration: none;
}

#reserve-btn {
  text-align: center;
  border-radius: 20px;
  color: white;
  background-color: #637cce;
  padding: 5px 20px;
  font-weight: bold;
}
