.App {
  min-height: 90vh;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  position: absolute;
  font-size: calc(10px + 2vmin);
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

a:hover {
  text-decoration: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #888888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6f6f6f;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
